.first {
  width: calc(100% + 1px);
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  
  .picture {
    background: white;

    img {
      width: 100%;
    }
  }

  .content {
    background: white;
    bottom: 40px;
    display: flex;


    .left {
      background: black;
      color: white;
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      height: calc(100% + 40px);
      padding: 40px 40px 60px 40px;
      position: relative;
      bottom: 40px;

      .category {
        text-decoration: underline;
        margin-bottom: 14px;
        &:hover {
          opacity: .6;
        }
      }
      
      .headline {
        font-family: Grotesk;
        font-size: 36px;
        margin-bottom: 14px;
        line-height: 1;
        &:hover {
          opacity: .6;
        }
      }

      .author {
        font-family: SourceCodePro;
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    .right {
      flex-basis: 50%;
      padding: 40px;
      line-height: 1.5;
    }

  }
}