.container {
  height: 200px;
  width: 100%;
  background: black;
  color: white;
}

.promo {
  padding: 40px;
  height: 100%;
  width: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  &:hover :not(:first-child) {
    opacity: 0.6;
  }
}

.content {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .title {
    font-family: Grotesk;
    font-size: 20px;
    line-height: 1;
    text-transform: capitalize;
  }

  .subtitle {
    font-family: SourceCodePro;
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 10px;
  }
}

.promoList {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
